admin_media:
    pattern:  /{page}
    defaults: { _controller: "SMAdminBundle:Media:index", page: 1 }
    requirements:
        page:  \d+

admin_media_show:
    pattern:  /{id}/show
    defaults: { _controller: "SMAdminBundle:Media:show" }

admin_media_new:
    pattern:  /new
    defaults: { _controller: "SMAdminBundle:Media:new" }

admin_media_create:
    pattern:  /create
    defaults: { _controller: "SMAdminBundle:Media:create" }
    requirements: { _method: post }

admin_media_edit:
    pattern:  /{id}/edit
    defaults: { _controller: "SMAdminBundle:Media:edit" }

admin_media_update:
    pattern:  /{id}/update
    defaults: { _controller: "SMAdminBundle:Media:update" }
    requirements: { _method: post }

admin_media_delete:
    pattern:  /{id}/delete
    defaults: { _controller: "SMAdminBundle:Media:delete" }
    requirements: { _method: post|get }

admin_media_get_media:
    pattern:  /get-media-by-catid/{catId}
    defaults: { _controller: "SMAdminBundle:Media:getMediaByCat", catId: null }
    requirements: { _method: get }

admin_media_delete_all:
    pattern:  /deleteall
    defaults: { _controller: "SMAdminBundle:Media:deleteAll" }
    requirements: { _method: post }
