{% for img in arrImgs %}
    {% if img != '' %}
        <div style="width: 100px; height: 100px; float: bottom">
            <img src="{{imgPath~'/'~img}}" />
            <div style="width: 300px;">
                <input type="checkbox" value="{{img}}" name="delImgs[]"> Checked if you want to delete this image.
            </div>
        </div>
        <div style="clear: both;"></div>
    {% endif %}
{% endfor %}